@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ---------------------  */
body, .introduction > .header > h1 {
  font-family: 'Raleway', sans-serif;
}

.footer {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: white;
  text-shadow: -.25px -.25px 0 transparent, .25px .25px transparent;
}

a:hover {
  text-shadow: -0.25px -0.25px 0 white, 0.25px 0.25px white;
}

body {
  background-color: #1c2431;
  color: white;
}

.main-container {
  margin: 0 auto;
  background: url(../img/bg-curvy-desktop-long.svg) 50% 750px no-repeat;
}

@media (max-width: 1025px) {
  .main-container {
    background: url(../img/bg-curvy-desktop-long.svg) 50% 750px no-repeat;
  }
}

@media (max-width: 769px) {
  .main-container {
    background: url(../img/bg-curvy-desktop-long.svg) 50% 700px no-repeat;
  }
}

@media (max-width: 480px) {
  .main-container {
    background: url(../img/bg-curvy-mobile-long.svg) 50% 450px no-repeat;
  }
}

@media (max-width: 375px) {
  .main-container {
    background: url(../img/bg-curvy-mobile-long.svg) 50% 250px no-repeat;
  }
}

.container {
  max-width: 1440px;
  padding: 0 6%;
  margin: 0 auto;
}

header {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container__logo a {
  display: inline-block;
}

@media (max-width: 769px) {
  .main-container__logo a {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .main-container__logo a {
    width: 60%;
  }
}

@media (max-width: 375px) {
  .main-container__logo a {
    width: 50%;
  }
}

.main-container__logo a img {
  width: 100%;
}

.main-contaire__links {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 20%;
}

@media (max-width: 1025px) {
  .main-contaire__links {
    width: 40%;
  }
}

@media (max-width: 769px) {
  .main-contaire__links {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .main-contaire__links {
    width: 60%;
  }
}

@media (max-width: 375px) {
  .main-contaire__links {
    width: 70%;
  }
}

.main-contaire__links > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-contaire__links > ul > li {
  position: relative;
}

.main-contaire__links > ul > li > a {
  font-size: 16px;
}

@media (max-width: 480px) {
  .main-contaire__links > ul > li > a {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .main-contaire__links > ul > li > a {
    font-size: 10px;
  }
}

.main-contaire__links > ul > li > a:hover {
  padding-bottom: 3px;
  border-bottom: 2px solid white;
}

.introduction {
  text-align: center;
  margin: 0 0 150px 0;
}

.introduction > .img > img {
  max-width: 100%;
}

.introduction > .header {
  max-width: 700px;
  margin: 35px auto 0;
}

.introduction > .header > h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}

@media (max-width: 1025px) {
  .introduction > .header > h1 {
    font-size: 35px;
    line-height: 1.4;
  }
}

@media (max-width: 769px) {
  .introduction > .header > h1 {
    font-size: 30px;
    line-height: 1.3;
  }
}

@media (max-width: 480px) {
  .introduction > .header > h1 {
    font-size: 25px;
    line-height: 1.2;
  }
}

@media (max-width: 375px) {
  .introduction > .header > h1 {
    font-size: 20px;
    line-height: 1.1;
  }
}

.introduction > .paragraph {
  margin: 34px auto;
  max-width: 630px;
  font-size: 20px;
  line-height: 1.4;
}

@media (max-width: 1025px) {
  .introduction > .paragraph {
    font-size: 20px;
    margin: 30px auto;
  }
}

@media (max-width: 769px) {
  .introduction > .paragraph {
    font-size: 18px;
    margin: 26px auto;
  }
}

@media (max-width: 480px) {
  .introduction > .paragraph {
    font-size: 16px;
    margin: 22px auto;
  }
}

@media (max-width: 375px) {
  .introduction > .paragraph {
    font-size: 14px;
    margin: 18px auto;
  }
}

.introduction > .button > a {
  margin: 0 auto;
  display: block;
  width: 280px;
  padding: 18px 0;
  border-radius: 80px;
  font-size: 18px;
  font-weight: 400;
  background-color: #339ecc;
}

@media (max-width: 375px) {
  .introduction > .button > a {
    padding: 12px 0;
    width: 80%;
    font-size: 14px;
  }
}

.introduction > .button > a:hover {
  background-color: #65e2d9;
}

.functions {
  margin: 0 auto 50px auto;
}

.main-function {
  text-align: center;
}

.main-function__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

@media (max-width: 769px) {
  .main-function__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-function__block {
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
}

@media (max-width: 769px) {
  .main-function__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-bottom: 30px;
  }
}

.main-function__block_img {
  height: 105px;
}

@media (max-width: 769px) {
  .main-function__block_img {
    height: 80px;
    margin: 0 0 30px 0;
  }
}

.main-function__block_header {
  margin: 0 0 12px 0;
  font-size: 20px;
}

.main-function__block_header > h3 {
  font-weight: 700;
}

.main-function__block_paragaph > p {
  line-height: 1.5;
}

.stay-productive {
  margin: 0 auto 150px auto;
  padding-bottom: 30px;
}

@media (max-width: 375px) {
  .stay-productive {
    padding-bottom: 50px;
  }
}

.stay-productive__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1025px) {
  .stay-productive__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stay-productive__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.stay-productive__img > img {
  max-width: 100%;
}

.stay-productive__textarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 557px;
          flex: 0 1 557px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1025px) {
  .stay-productive__textarea {
    margin-bottom: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.stay-productive__textarea > h2 {
  padding: 0 44px 0 0;
  margin: 110px 0 20px 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
}

.stay-productive__textarea p {
  font-size: 17px;
  margin: 0 0 25px 0;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

.stay-productive__textarea p:nth-child(3) {
  margin-bottom: 0;
}

.stay-productive__textarea .stay-productive__textarea_link {
  display: inline;
  margin: 32px 0 0 0;
  letter-spacing: 1px;
}

.stay-productive__textarea .stay-productive__textarea_link > a {
  padding: 0 0 3px 0;
  border-bottom: 2px solid #65e2d9;
  color: #65e2d9;
}

.stay-productive__textarea .stay-productive__textarea_link > a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.stay-productive__textarea .stay-productive__textarea_link > a::after {
  content: url("../icons/icon-arrow.svg");
  margin-left: 7px;
  position: relative;
  top: 3px;
}

.stay-productive__textarea .stay-productive__textarea_link > a:hover::after {
  content: url("../icons/icon-arrow-white.svg");
}

.cards {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 769px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cards:first-child {
  position: relative;
}

.cards:first-child::before {
  z-index: -10;
  content: url("../icons/bg-quotes.png");
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 20px;
  bottom: 35px;
}

.card {
  background-color: #202a3c;
  padding: 42px 30px 23px 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

@media (max-width: 769px) {
  .card {
    margin-bottom: 20px;
  }
}

.card__text {
  padding: 0 0 23px 0;
  line-height: 20px;
  position: relative;
}

.card__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card__autor__img {
  height: 26px;
}

.card__autor__img > img {
  height: 100%;
  border-radius: 100%;
}

.card__autor__name {
  margin: 0 0 0 7px;
  font-size: 10px;
}

.card__autor__name_fullname {
  font-weight: 700;
  margin: 0 0 5px 0;
}

.early-access {
  background-color: #181F2B;
}

.early-access__containet {
  background-color: #1c2431;
  max-width: 865px;
  margin: 0 auto;
  text-align: center;
  padding: 45px 75px 40px;
  position: relative;
  bottom: -114px;
}

@media (max-width: 1025px) {
  .early-access__containet {
    padding: 30px;
  }
}

.early-access__containet_header {
  font-size: 33px;
  font-weight: 700;
  margin: 0 0 24px 0;
}

@media (max-width: 375px) {
  .early-access__containet_header {
    font-size: 26px;
  }
}

.early-access__containet_paragraph {
  padding: 0 0 35px;
  line-height: 1.5;
}

.early-access__containet_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

@media (max-width: 1025px) {
  .early-access__containet_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    height: 100%;
  }
}

.input-email {
  width: 480px;
  min-width: 200px;
  border-radius: 25px;
  padding: 0 25px;
}

@media (max-width: 1025px) {
  .input-email {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.input-email::-webkit-input-placeholder {
  opacity: 0.9;
}

.input-email:-ms-input-placeholder {
  opacity: 0.9;
}

.input-email::-ms-input-placeholder {
  opacity: 0.9;
}

.input-email::placeholder {
  opacity: 0.9;
}

.input-email:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input-email:focus:-ms-input-placeholder {
  opacity: 0;
}

.input-email:focus::-ms-input-placeholder {
  opacity: 0;
}

.input-email:focus::placeholder {
  opacity: 0;
}

.input-submit {
  width: 200px;
  border-radius: 25px;
  color: white;
  background-color: #339ecc;
}

@media (max-width: 1025px) {
  .input-submit {
    padding: 15px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.input-submit:hover {
  background-color: #65e2d9;
  font-weight: 700;
}

.footer {
  background-color: #0b1523;
}

.footer-container {
  margin: 0 auto;
  padding: 200px 0 90px 0;
}

.footer-container__logo {
  margin: 0 0 40px 0;
}

.footer-container__logo > img {
  height: 100%;
}

.footer-container__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 769px) {
  .footer-container__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-container__links_map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  line-height: 20px;
}

@media (max-width: 769px) {
  .footer-container__links_map {
    margin-bottom: 20px;
  }
}

.footer-container__links_map > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.footer-container__links_map > a::before {
  content: url("../icons/icon-location.svg");
  display: inline-block;
  padding: 0 20px 0 0;
}

.footer-container__links_contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.footer-container__links_contacts > a {
  display: block;
  padding: 0 0 30px 0;
  line-height: 1.6;
}

.telefon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.telefon::before {
  content: url("../icons/icon-phone.svg");
  display: inline-block;
  padding: 0 20px 0 0;
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.mail::before {
  content: url("../icons/icon-email.svg");
  display: inline-block;
  padding: 0 20px 0 0;
}

.footer-container__links_info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container__links_info > a {
  padding: 0 0 30px 0;
  line-height: 1.6;
}

.footer-container__links_social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.round-icon {
  display: inline-block;
  fill: white;
}

.round-icon:hover {
  fill: #65e2d9;
}

.round-icon > svg {
  width: 35px;
  height: 35px;
}
