@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ---------------------  */
.maincontent__header {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background: #1c2431;
  color: white;
}

header {
  padding: 72px 77px 0 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 100%;
  max-width: 180px;
  min-width: 74px;
}

.headerlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.headerlinks > li {
  margin: 0 55px 0 0;
}

.headerlinks > li:last-child {
  margin: 0;
}

.headerlinks > li:hover {
  text-decoration: underline;
  font-weight: 700;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  cursor: pointer;
}

.maincontent {
  margin: 73px auto;
  max-width: 732px;
  text-align: center;
  padding-bottom: 166px;
}

.maincontent__img {
  margin: 0 0 46px 0;
}

.maincontent__img > img {
  width: 100%;
}

.maincontent__header {
  font-size: 41px;
  line-height: 48px;
  font-weight: 700;
  margin: 0 0 42px 0;
}

.maincontetn__paragraph {
  margin: 0 auto 33px auto;
  max-width: 80%;
  font-size: 19px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.link_button {
  margin: 0 auto;
  display: block;
  width: 282px;
  border-radius: 28px;
  line-height: 56px;
  height: 56px;
  color: white;
  background: #339ecc;
}

.link_button:hover {
  background: #65e2d9;
}

.mainfunctionsbg {
  background: #181f2a;
}

.mainfunctions {
  margin: 0 277px;
  max-width: 887px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.mainfunctions_card {
  margin: 0 auto;
  max-width: 390px;
  min-width: 288px;
  margin: 0 0 100px 0;
}

.mainfunctions_card__img {
  height: 93px;
}

.mainfunction_car__header {
  font-weight: 700;
  font-size: 19px;
  line-height: 50px;
}

.mainfunctions_card__paragraph {
  font-size: 14px;
  line-height: 19px;
}

.productovesection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.productovesection_image > img {
  width: 100%;
  max-width: 560px;
  min-width: 288px;
}

.productovesection_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*  max width 768px*/
@media (max-width: 768px) {
  header {
    padding: 21px 18px 38px;
  }
  .logo img {
    width: 74px;
  }
  .headerlinks {
    font-size: 12px;
  }
  .headerlinks > li {
    margin: 0 21px 0 0;
  }
  .productovesection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
