@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ---------------------  */
body, .introduction > .header > h1 {
  font-family: 'Raleway', sans-serif;
}

.footer {
  font-family: 'Open Sans', sans-serif;
}

body {
  color: white;
  background-color: #1c2431;
}

.main-container {
  margin: 0 auto;
  background: url(../img/bg-curvy-desktop-long.svg) 50% 750px no-repeat;
}

@media (max-width: 750px) {
  .main-container {
    max-width: 750px;
  }
}

@media (max-width: 375px) {
  .main-container {
    background: url(../img/bg-curvy-mobile-long.svg) 50% 250px no-repeat;
  }
}

.container {
  max-width: 1440px;
  margin: 75px auto 0;
  padding: 0 80px;
}

@media (max-width: 750px) {
  .container {
    padding: 42px 46px 0 38px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-contaire__links {
  margin: 16px 0 0 0;
}

.main-contaire__links > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-contaire__links > ul > li {
  padding: 0 0 0 58px;
}

@media (max-width: 750px) {
  .main-contaire__links > ul > li {
    padding: 0 0 0 50px;
  }
}

.main-contaire__links > ul > li > a {
  color: white;
  font-size: 16px;
}

.main-contaire__links > ul > li > a:hover {
  -webkit-text-stroke: 1px;
  padding-bottom: 3px;
  border-bottom: 2px solid white;
}

@media (max-width: 750px) {
  .main-contaire__links > ul > li > a {
    font-size: 24px;
  }
}

.introduction {
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 750px) {
  .introduction > .img {
    padding: 55px 25px 0 32px;
  }
}

.introduction > .img > img {
  max-width: 100%;
}

.introduction > .header {
  max-width: 700px;
  margin: 35px auto 0;
}

@media (max-width: 750px) {
  .introduction > .header {
    margin: 60px auto 0;
  }
}

.introduction > .header > h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}

@media (max-width: 750px) {
  .introduction > .header > h1 {
    font-size: 49px;
  }
}

.introduction > .paragraph {
  margin: 35px auto 34px;
  max-width: 630px;
  font-size: 20px;
  line-height: 1.4;
}

@media (max-width: 750px) {
  .introduction > .paragraph {
    margin-top: 31px;
    max-width: 600px;
    font-size: 28px;
    line-height: 1.5;
  }
}

@media (max-width: 750px) {
  .introduction > .button {
    margin: 65px 90px;
  }
}

.introduction > .button > a {
  margin: 0 auto;
  display: block;
  width: 280px;
  padding: 18px 0;
  border-radius: 80px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: #339ecc;
}

.introduction > .button > a:hover {
  background-color: #65e2d9;
  font-weight: 700;
}

@media (max-width: 750px) {
  .introduction > .button > a {
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    line-height: 2;
  }
}

.functions {
  margin-top: 175px;
}

@media (max-width: 750px) {
  .functions {
    margin-top: 250px;
  }
}

.main-function {
  max-width: 908px;
  margin: 0 auto;
  text-align: center;
}

.main-function:last-child {
  margin-top: 95px;
}

@media (max-width: 750px) {
  .main-function:last-child {
    margin-top: 0;
  }
}

@media (max-width: 750px) {
  .main-function {
    padding: 0 65px;
  }
}

.main-function__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  .main-function__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-function__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
}

@media (max-width: 750px) {
  .main-function__block {
    margin-bottom: 170px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.main-function__block_img {
  height: 105px;
}

@media (max-width: 750px) {
  .main-function__block_img > img {
    height: 117px;
  }
}

@media (max-width: 750px) {
  .main-function__block_img {
    height: auto;
  }
}

.main-function__block_header {
  margin: 0 0 12px 0;
  font-size: 20px;
}

@media (max-width: 750px) {
  .main-function__block_header {
    margin: 80px 0 12px 0;
    font-size: 34px;
  }
}

.main-function__block_header > h3 {
  font-weight: 700;
}

@media (max-width: 750px) {
  .main-function__block_paragaph {
    margin-top: 30px;
  }
}

.main-function__block_paragaph > p {
  line-height: 1.5;
}

@media (max-width: 750px) {
  .main-function__block_paragaph > p {
    font-size: 28px;
  }
}

.stay-productive {
  max-width: 1228px;
  margin: 0 auto;
}

.stay-productive__container {
  margin: 132px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  .stay-productive__container {
    margin: 100px 0 0 0;
    padding: 0 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stay-productive__img > img {
  max-width: 100%;
}

.stay-productive__textarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 557px;
          flex: 0 1 557px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stay-productive__textarea > h2 {
  padding: 0 44px 0 0;
  margin: 110px 0 20px 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
}

@media (max-width: 750px) {
  .stay-productive__textarea > h2 {
    margin: 90px 0 35px 0;
    font-size: 40px;
    padding: 0;
  }
}

.stay-productive__textarea p {
  font-size: 17px;
  margin: 0 0 25px 0;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

@media (max-width: 750px) {
  .stay-productive__textarea p {
    font-size: 30px;
    line-height: 1.5;
  }
}

.stay-productive__textarea p:nth-child(3) {
  margin-bottom: 0;
}

.stay-productive__textarea .stay-productive__textarea_link {
  display: inline;
  margin: 32px 0 0 0;
  letter-spacing: 1px;
}

.stay-productive__textarea .stay-productive__textarea_link > a {
  padding: 0 0 3px 0;
  border-bottom: 2px solid #65e2d9;
  color: #65e2d9;
}

.stay-productive__textarea .stay-productive__textarea_link > a:hover {
  color: white;
  border-bottom: 2px solid white;
}

@media (max-width: 750px) {
  .stay-productive__textarea .stay-productive__textarea_link > a {
    font-size: 25px;
    padding: 0 0 10px 0;
  }
}

.stay-productive__textarea .stay-productive__textarea_link > a::after {
  content: url("../icons/icon-arrow.svg");
  margin-left: 7px;
  position: relative;
  top: 3px;
}

.founder-cards {
  max-width: 1228px;
  margin: 178px auto 0;
}

@media (max-width: 750px) {
  .founder-cards {
    padding: 0 95px;
    margin: 320px auto 0;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 10;
}

@media (max-width: 750px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cards:first-child {
  position: relative;
}

.cards:first-child::before {
  content: url("../icons/bg-quotes.png");
  width: 100%;
  height: 100%;
  position: absolute;
  left: 25px;
  bottom: 35px;
  z-index: -10;
}

@media (max-width: 750px) {
  .cards:first-child::before {
    left: 5px;
  }
}

.card {
  background-color: #202a3c;
  padding: 42px 30px 23px 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
}

@media (max-width: 750px) {
  .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    margin: 0 0 45px 0;
    padding: 52px 65px 0 39px;
  }
}

.card__text {
  padding: 0 0 23px 0;
  line-height: 20px;
}

@media (max-width: 750px) {
  .card__text {
    font-size: 20px;
    line-height: 35px;
  }
}

.card__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card__autor__img {
  height: 26px;
}

@media (max-width: 750px) {
  .card__autor__img {
    height: 55px;
  }
}

.card__autor__img > img {
  height: 100%;
  border-radius: 100%;
}

.card__autor__name {
  margin: 0 0 0 7px;
  font-size: 10px;
}

.card__autor__name_fullname {
  font-weight: 700;
  margin: 0 0 5px 0;
}

@media (max-width: 750px) {
  .card__autor__name_fullname {
    margin: 10px 0 9px 0;
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .card__autor__name_position {
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  .early-access {
    margin: 400px 0 0 0;
  }
}

.early-access__containet {
  background-color: #1c2431;
  max-width: 865px;
  margin: 0 auto;
  text-align: center;
  padding: 45px 75px 40px;
  position: relative;
  bottom: -114px;
}

.early-access__containet_header {
  font-size: 33px;
  font-weight: 700;
  margin: 0 0 24px 0;
}

@media (max-width: 750px) {
  .early-access__containet_header {
    font-size: 36px;
    margin: 0 0 42px 0;
  }
}

.early-access__containet_paragraph {
  padding: 0 40px 35px;
  line-height: 1.5;
}

@media (max-width: 750px) {
  .early-access__containet_paragraph {
    font-size: 28px;
    padding: 0 16px;
    margin: 0 0 63px 0;
  }
}

.early-access__containet_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

@media (max-width: 750px) {
  .early-access__containet_form {
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.input-email {
  width: 480px;
  border-radius: 25px;
  padding: 0 25px;
}

.input-email::-webkit-input-placeholder {
  opacity: 0.9;
}

.input-email:-ms-input-placeholder {
  opacity: 0.9;
}

.input-email::-ms-input-placeholder {
  opacity: 0.9;
}

.input-email::placeholder {
  opacity: 0.9;
}

.input-email:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input-email:focus:-ms-input-placeholder {
  opacity: 0;
}

.input-email:focus::-ms-input-placeholder {
  opacity: 0;
}

.input-email:focus::placeholder {
  opacity: 0;
}

@media (max-width: 750px) {
  .input-email {
    width: 100%;
    padding: 31.5px 25px;
    border-radius: 90px;
    font-size: 29px;
    margin: 0 0 44px 0;
  }
}

.input-submit {
  width: 200px;
  border-radius: 25px;
  color: white;
  background-color: #339ecc;
}

.input-submit:hover {
  background-color: #65e2d9;
  font-weight: 700;
}

@media (max-width: 750px) {
  .input-submit {
    width: 100%;
    line-height: 90px;
    border-radius: 90px;
    font-size: 29px;
  }
}

.footer {
  background-color: #0b1523;
}

.footer-container {
  margin: 0 auto;
  padding: 200px 0 90px 0;
  max-width: 1200px;
}

@media (max-width: 750px) {
  .footer-container {
    margin: 100px auto 0;
    padding: 0 60px;
    font-size: 31px;
  }
}

.footer-container__logo {
  margin: 0 0 40px 0;
}

.footer-container__logo > img {
  height: 100%;
}

@media (max-width: 750px) {
  .footer-container__logo {
    padding: 0 22px;
    height: 100px;
    margin: 0 0 80px 0;
  }
}

.footer-container__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  .footer-container__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-container__links_map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 366px;
          flex: 0 1 366px;
  line-height: 20px;
  position: relative;
}

.footer-container__links_map > a {
  color: white;
}

.footer-container__links_map > a:hover {
  font-weight: 700;
}

.footer-container__links_map > a::before {
  content: url("../icons/icon-location.svg");
  position: absolute;
  left: -27px;
  top: 4px;
}

@media (max-width: 750px) {
  .footer-container__links_map {
    padding: 0 0 0 75px;
    line-height: 1.6;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0 0 30px 0;
  }
}

.footer-container__links_contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 170px;
          flex: 0 1 170px;
}

.footer-container__links_contacts > a {
  color: white;
  padding: 0 0 30px 0;
  line-height: 1.6;
}

.footer-container__links_contacts > a:hover {
  font-weight: 700;
}

@media (max-width: 750px) {
  .footer-container__links_contacts {
    padding: 0 0 0 70px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 1.6;
    margin: 0 0 126px 0;
  }
  .footer-container__links_contacts > a {
    margin: 0 0 30px 0;
  }
}

.telefon {
  display: inline-block;
  position: relative;
}

.telefon::before {
  content: url("../icons/icon-phone.svg");
  position: absolute;
  left: -37px;
  top: 4px;
}

.mail {
  display: inline-block;
  position: relative;
}

.mail::before {
  content: url("../icons/icon-email.svg");
  position: absolute;
  left: -37px;
  top: 4px;
}

.footer-container__links_info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 90px;
          flex: 0 1 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container__links_info > a {
  color: white;
  padding: 0 0 30px 0;
  line-height: 1.6;
}

.footer-container__links_info > a:hover {
  font-weight: 700;
}

@media (max-width: 750px) {
  .footer-container__links_info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    line-height: 1.6;
    margin: 0 0 30px 0;
  }
}

.footer-container__links_social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 130px;
          flex: 0 0 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  .footer-container__links_social {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    text-align: center;
    margin: 110px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0 190px;
  }
}

.round-icon {
  display: inline-block;
  fill: white;
}

.round-icon:hover {
  fill: #65e2d9;
}

.round-icon > svg {
  width: 35px;
  height: 35px;
}

@media (max-width: 750px) {
  .round-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 55px;
            flex: 0 1 55px;
    margin: 0;
    width: 100%;
    height: 55px;
  }
}
