@import "global.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
// variablse

$intro_emailSignUpBG: hsl(217, 28%, 15%);
$mainBG: hsl(218, 28%, 13%);
$footerBG:hsl(216, 53%, 9%);
$testimonialsBG:hsl(219, 30%, 18%);
$cyan:hsl(176, 68%, 64%);
$blue:hsl(198, 60%, 50%);
$red:hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

// font family for ### Headings, Call-to-actions, Header Navigation
%fontfamily {
    font-family: 'Raleway', sans-serif;
    // @extend %fontfamily
}

body {
    font-family: 'Open Sans', sans-serif;
}

// main container
.container {
    max-width: 1440px;
    margin: 0 auto;
    background: $mainBG;
    color: $white;
}

// header

header {
    padding: 72px 77px 0 77px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.logo {

    img {
        width: 100%;
        max-width: 180px;
        min-width: 74px;
    }
}

.headerlinks {
    display: flex;
    flex-direction: row;


    >li {
        margin: 0 55px 0 0;

        &:last-child {
            margin: 0;
        }

        &:hover {
            text-decoration: underline;
            font-weight: 700;
            transition: ease-in 0.2s;
            cursor: pointer;

        }
    }
}

// main section

.maincontent {
    margin: 73px auto;
    max-width: 732px;
    text-align: center;
    padding-bottom: 166px;
}

.maincontent__img {
    margin: 0 0 46px 0;
    >img{
        width: 100%;
    }

}

.maincontent__header {
    @extend %fontfamily;
    font-size: 41px;
    line-height: 48px;
    font-weight: 700;
    margin: 0 0 42px 0;
}

.maincontetn__paragraph {
    margin: 0 auto 33px auto;
    max-width: 80%;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.02em;
}

.link_button {
    margin: 0 auto;
    display: block;
    width: 282px;
    border-radius: 28px;
    line-height: 56px;
    height: 56px;
    color: $white;
    background: $blue;
    &:hover{
        background: $cyan;
    }
}


// mobile version

/*  max width 768px*/

@media (max-width: 768px) {
    header {
        padding: 21px 18px 38px;

    }
    .logo {

        img {
            width: 74px;
        }
    }

    .headerlinks {
        font-size: 12px;

        >li {
            margin: 0 21px 0 0;
        }
    }
}