@import "global.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

// variablse


$intro_emailSignUpBG: hsl(217, 28%, 15%);
$mainBG: hsl(218, 28%, 13%);
$testimonialsBG:hsl(219, 30%, 18%);
$footerBG:hsl(216, 53%, 9%);
$cyan:hsl(176, 68%, 64%);
$blue:hsl(198, 60%, 50%);
$red:hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

// font family for ### Headings, Call-to-actions, Header Navigation
%fontfamily {
    font-family: 'Raleway', sans-serif;
    // @extend %fontfamily
}

%font-heading-links {
    font-family: 'Open Sans', sans-serif;
    //@extend %font-heading-links
}

a {
    color: $white;
    text-shadow: -.25px -.25px 0 transparent,
    .25px .25px transparent;
    &:hover{
        text-shadow: -.25px -.25px 0 $white,
        .25px .25px $white;
    }
}

// starting styling
body {
    background-color: $intro_emailSignUpBG;
    color: $white;
    @extend %fontfamily;
}

.main-container {
    margin: 0 auto;
    background: url(../img/bg-curvy-desktop-long.svg) 50% 750px no-repeat;
    @media (max-width:1025px) {

        background: url(../img/bg-curvy-desktop-long.svg) 50% 750px no-repeat;
    }
    @media (max-width:769px) {
        background: url(../img/bg-curvy-desktop-long.svg) 50% 700px  no-repeat;
        
    }
    @media (max-width:480px) {
        
        background: url(../img/bg-curvy-mobile-long.svg) 50% 450px  no-repeat;
    }
    @media (max-width:375px) {
        background: url(../img/bg-curvy-mobile-long.svg) 50% 250px no-repeat;
    }
}

.container {
    max-width: 1440px;
    padding: 0 6%;
    margin: 0 auto;
    // border: 1px solid red;

    @media (max-width:1025px) {}

    @media (max-width:769px) {}

    @media (max-width:480px) {}

    @media (max-width:375px) {}
}

// -------- header

header {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.main-container__logo {
    a {
        display: inline-block;
        @media (max-width:769px) {
            width: 70%;
        }

        @media (max-width:480px) {
            width: 60%;
        }

        @media (max-width:375px) {
            width: 50%;
        }

        img {
            width: 100%;
        }
    }
}

.main-contaire__links {
    align-self: center;
    width: 20%;

    @media (max-width:1025px) {
        width: 40%;
    }

    @media (max-width:769px) {
        width: 50%;
    }

    @media (max-width:480px) {
        width: 60%;
    }

    @media (max-width:375px) {
        width: 70%;
    }

    >ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        >li {
            position: relative;
            >a {
                font-size: 16px;

                @media (max-width:480px) {
                    font-size: 13px;
                }

                @media (max-width:375px) {
                    font-size: 10px;
                }

                &:hover {
                    padding-bottom: 3px;
                    border-bottom: 2px solid $white;
                }
            }
        }
    }
}


// ------------------------------  sub header introductions

.introduction {
    text-align: center;
    margin: 0 0 150px 0;

    >.img {
        >img {
            max-width: 100%;
        }
    }

    >.header {
        max-width: 700px;
        margin: 35px auto 0;

        >h1 {
            @extend %fontfamily;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.5;

            @media (max-width:1025px) {
                font-size: 35px;
                line-height: 1.4;
            }

            @media (max-width:769px) {
                font-size: 30px;
                line-height: 1.3;
            }

            @media (max-width:480px) {
                font-size: 25px;
                line-height: 1.2;
            }

            @media (max-width:375px) {
                font-size: 20px;
                line-height: 1.1;
            }
        }
    }

    >.paragraph {
        margin: 34px auto;
        max-width: 630px;
        font-size: 20px;
        line-height: 1.4;
        
        @media (max-width:1025px) {
            font-size: 20px;
            margin: 30px auto;
        }
        
        @media (max-width:769px) {
            font-size: 18px;
            margin: 26px auto;
            
        }
        
        @media (max-width:480px) {
            font-size: 16px;
            margin: 22px auto;
            
        }
        
        @media (max-width:375px) {
            font-size: 14px;
            margin: 18px auto;

        }

    }


    >.button {
        >a {
            margin: 0 auto;
            display: block;
            width: 280px;
            padding: 18px 0;
            border-radius: 80px;
            font-size: 18px;
            font-weight: 400;
            background-color: $blue;
            @media (max-width:1025px) {

            }
            @media (max-width:769px) {

            }
            @media (max-width:480px) {

            }
            @media (max-width:375px) {
                padding: 12px 0;
                width: 80%;
                font-size: 14px;
            }
            &:hover {
                background-color: $cyan;
                

            }
        }
    }
}

// ------------------------------   functions

.functions {
    margin: 0 auto 50px auto;
}

.main-function {
    text-align: center;
    @media (max-width:1025px) {}
    @media (max-width:769px) {
        // margin-bottom: 30px;
    }
    
}

.main-function__section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    @media (max-width:769px) {
        flex-direction: column;
    }
    
}

.main-function__block {
    padding: 10px;
    flex: 0 1 380px;
    @media (max-width:769px) {
        flex: 0 1 auto;
        margin-bottom: 30px;
    }
    
}

.main-function__block_img {
    height: 105px;
    @media (max-width:769px) {
        height: 80px;
        margin: 0 0 30px 0;
    }
   
}

.main-function__block_header {
    margin: 0 0 12px 0;
    font-size: 20px;
    >h3 {
        font-weight: 700;
    }
}

.main-function__block_paragaph {
    >p {
        line-height: 1.5;
    }
}

// ----------------------------------- stay productive section

.stay-productive {
    margin: 0 auto 150px auto;
    padding-bottom:30px;
    @media (max-width:1025px) {}
    @media (max-width:769px) {}
    @media (max-width:480px) {}
    @media (max-width:375px) {
        padding-bottom: 50px;
    }
}

.stay-productive__container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width:1025px) {
        flex-direction: column;
    }
    @media (max-width:769px) {}
    @media (max-width:480px) {}
    @media (max-width:375px) {}
}

.stay-productive__img {
    align-self: center;
    >img {
        max-width: 100%;
    }
}

.stay-productive__textarea {
    flex: 0 1 557px;
    display: flex;
    flex-direction: column;
    @media (max-width:1025px) {
        margin-bottom: 30px;
        flex: 0 1 auto;
    }
    @media (max-width:769px) {}
    @media (max-width:480px) {}
    @media (max-width:375px) {}

    >h2 {
        padding: 0 44px 0 0;
        margin: 110px 0 20px 0;
        font-size: 45px;
        font-weight: 700;
        line-height: 1.2;
    }

    p {
        font-size: 17px;
        margin: 0 0 25px 0;
        line-height: 1.5;
        letter-spacing: -0.5px;

        &:nth-child(3) {
            margin-bottom: 0;
        }
    }

    .stay-productive__textarea_link {
        display: inline;
        margin: 32px 0 0 0;
        letter-spacing: 1px;

        >a {
            padding: 0 0 3px 0;
            border-bottom: 2px solid $cyan;
            color: $cyan;

            &:hover {
                color: $white;
                border-bottom: 2px solid $white;

            }

            &::after {
                content: url('../icons/icon-arrow.svg');
                margin-left: 7px;
                position: relative;
                top: 3px;
            }

            &:hover::after {
                content: url('../icons/icon-arrow-white.svg');
            }


        }
    }
}

// ------------------- cards 

.founder-cards {
    background-color: #181F2B;
}

.cards {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media (max-width:1025px) {
    }
    @media (max-width:769px) {
        flex-direction: column;

    }
    @media (max-width:480px) {}
    @media (max-width:375px) {}
    &:first-child{
        position: relative;
    }
    &:first-child::before{
        z-index: -10;
        content: url('../icons/bg-quotes.png');
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 20px;
        bottom: 35px;
    }

}

.card {
    background-color: $testimonialsBG;
    padding: 42px 30px 23px 24px;
    flex: 0 1 30%;
    @media (max-width:769px) {
        margin-bottom: 20px;
    }
  
}

.card__text {
    padding: 0 0 23px 0;
    line-height: 20px;
    position: relative;
}

.card__autor {
    display: flex;
    flex-direction: row;
}

.card__autor__img {
    height: 26px;

    >img {
        height: 100%;
        border-radius: 100%;
    }
}

.card__autor__name {
    margin: 0 0 0 7px;
    font-size: 10px;
}

.card__autor__name_fullname {
    font-weight: 700;
    margin: 0 0 5px 0;
}

// .card__autor__name_position {}

// ----------------------------- early access


.early-access {
    background-color: #181F2B;
}

.early-access__containet {
    background-color: $intro_emailSignUpBG;
    max-width: 865px;
    margin: 0 auto;
    text-align: center;
    padding: 45px 75px 40px;
    position: relative;
    bottom: -114px;
    @media (max-width:1025px) {
        padding: 30px;
    }
    
}

.early-access__containet_header {
    font-size: 33px;
    font-weight: 700;
    margin: 0 0 24px 0;
    
    @media (max-width:375px) {
        font-size: 26px;
    }
}

.early-access__containet_paragraph {
    padding: 0 0 35px;
    line-height: 1.5;
    
}

.early-access__containet_form {
    display: flex;
    justify-content: space-between;
    height: 50px;
    @media (max-width:1025px) {
        flex-direction: column;
        margin: 0 auto;
        height: 100%;
       
    }
}

.input-email {
    width: 480px;
    min-width: 200px;
    border-radius: 25px;
    padding: 0 25px;
    @media (max-width:1025px) {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        align-self: center;
    }
    &::placeholder {
        opacity: 0.9;
    }

    &:focus::placeholder {
        opacity: 0;
    }


}

.input-submit {
    width: 200px;
    border-radius: 25px;
    color: $white;
    background-color: $blue;
    @media (max-width:1025px) {
        padding: 15px;
        align-self: center;
    }
    

    &:hover {
        background-color: $cyan;
        font-weight: 700;
    }


}

// -------------------------  footer

.footer {
    background-color: $footerBG;
    @extend %font-heading-links;
}

.footer-container {
    margin: 0 auto;
    padding: 200px 0 90px 0;
    // max-width: 1200px;
}

.footer-container__logo {
    margin: 0 0 40px 0;
    >img {
        height: 100%;
    }
}

.footer-container__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width:769px) {
        flex-direction: column;
    }
  
}

.footer-container__links_map {
    flex: 0 1 25%;
    line-height: 20px;
    
    @media (max-width:1025px) {}
    @media (max-width:769px) {
        margin-bottom: 20px;
    }
    @media (max-width:480px) {}
    @media (max-width:375px) {}

    >a {
        display: flex;
        align-content: flex-start;
        &::before {
            content: url('../icons/icon-location.svg');
            display: inline-block;
            padding: 0 20px 0 0;
        }
    }

}

.footer-container__links_contacts {
    flex: 0 1 auto;

    >a {
        display: block;
        padding: 0 0 30px 0;
        line-height: 1.6;
    }


}

.telefon {
    display: flex;
    align-content: flex-start;
    &::before {
        content: url('../icons/icon-phone.svg');
        display: inline-block;
        padding: 0 20px 0 0;
    }
}

.mail {
    display: flex;
    align-content: flex-start;
    &::before {
        content: url('../icons/icon-email.svg');
        display: inline-block;
        padding: 0 20px 0 0;
    }
}

.footer-container__links_info {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;

    >a {
        padding: 0 0 30px 0;
        line-height: 1.6;
    }

}

.footer-container__links_social {
    flex: 0 0 20%;
    display: flex;
    justify-content: space-evenly;
}

.round-icon {
    display: inline-block;
    fill: white;

    &:hover {
        fill: $cyan;
    }

    >svg {
        width: 35px;
        height: 35px;
    }
}